<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="ch.uzh.TestDescriber.TestDescriber.commands.category"
            name="TestDescriber Category">
      </category>
      <command
            categoryId="ch.uzh.TestDescriber.TestDescriber.commands.category"
            name="TestDescriber Eclipse plugin help"
            id="ch.uzh.TestDescriber.TestDescriber.commands.buttonCommand">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="ch.uzh.TestDescriber.TestDescriber.handlers.ButtonHandler"
            commandId="ch.uzh.TestDescriber.TestDescriber.commands.buttonCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="ch.uzh.TestDescriber.TestDescriber.toolbars.sampleToolbar">
            <command
                  id="ch.uzh.TestDescriber.TestDescriber.toolbars.buttonCommand"
                  commandId="ch.uzh.TestDescriber.TestDescriber.commands.buttonCommand"
                  icon="icons/td.png"
                  tooltip="TestDescriber">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="ch.uzh.TestDescriber.TestDescriber"
            name="TestDescriber">
      </category>
      <view
            category="ch.uzh.TestDescriber.TestDescriber"
            class="ch.uzh.TestDescriber.TestDescriber.views.ListViewPart"
            icon="icons/td.png"
            id="ch.uzh.TestDescriber.TestDescriber.views.ListViewPart"
            inject="true"
            name="TestDescriber Explorer">
      </view>
      <view
            category="ch.uzh.TestDescriber.TestDescriber"
            class="ch.uzh.TestDescriber.TestDescriber.views.TestsView"
            icon="icons/td.png"
            id="ch.uzh.TestDescriber.TestDescriber.views.TestsView"
            inject="true"
            name="TestDescriber Test">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="ch.uzh.TestDescriber.TestDescriber.views.ListViewPart"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.ProblemView">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="ch.uzh.TestDescriber.TestDescriber.views.TestsView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.ProblemView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
</plugin>
